# ----------------------------------------------------------------------
# | Folder protection                                                  |
# ----------------------------------------------------------------------

# This is only needed for the staging server

# Order deny,allow
# Deny from all
# Allow from installatron.infomaniak.com
# AuthType Digest
# AuthName "Only authorized users"
# AuthUserFile "/home/clients/74d8b4b64a924ae990bc3821c8a5961d/staging/public/.htdigest"
# Require valid-user
# Satisfy Any
# checksum=afd3b487757b415d278e05b1478d5379

# ----------------------------------------------------------------------
# | Cross domain                                                       |
# ----------------------------------------------------------------------

<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>


# ----------------------------------------------------------------------
# | Compression                                                        |
# ----------------------------------------------------------------------

### Infomaniak suggestion
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE "application/atom+xml" "application/javascript" "application/json" "application/ld+json" "application/manifest+json" "application/rdf+xml" "application/rss+xml" "application/schema+json" "application/vnd.geo+json" "application/vnd.ms-fontobject" "application/x-font-ttf" "application/x-javascript" "application/x-web-app-manifest+json" "application/xhtml+xml" "application/xml" "font/eot" "font/opentype" "image/bmp" "image/svg+xml" "image/vnd.microsoft.icon" "image/x-icon" "text/cache-manifest" "text/css" "text/html" "text/javascript" "text/plain" "text/vcard" "text/vnd.rim.location.xloc" "text/vtt" "text/x-component" "text/x-cross-domain-policy" "text/xml"


# ----------------------------------------------------------------------
# | Expires headers                                                    |
# ----------------------------------------------------------------------

# Serve resources with far-future expires headers.
#
# (!) If you don't control versioning with filename-based
# cache busting, you should consider lowering the cache times
# to something like one week.
#
# https://httpd.apache.org/docs/current/mod/mod_expires.html

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

  # CSS

    ExpiresByType text/css                              "access plus 1 year"


  # Data interchange

    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rdf+xml                   "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/schema+json               "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"


  # Favicon (cannot be renamed!) and cursor images

    ExpiresByType image/vnd.microsoft.icon              "access plus 1 week"
    ExpiresByType image/x-icon                          "access plus 1 week"

  # HTML

    ExpiresByType text/html                             "access plus 1 week"


  # JavaScript

    ExpiresByType application/javascript                "access plus 1 week"
    ExpiresByType application/x-javascript              "access plus 1 week"
    ExpiresByType text/javascript                       "access plus 1 week"


  # Manifest files

    ExpiresByType application/manifest+json             "access plus 1 week"
    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    ExpiresByType text/cache-manifest                   "access plus 0 seconds"


  # Media files

    ExpiresByType audio/ogg                             "access plus 1 month"
    ExpiresByType image/bmp                             "access plus 1 month"
    ExpiresByType image/gif                             "access plus 1 month"
    ExpiresByType image/jpeg                            "access plus 1 month"
    ExpiresByType image/png                             "access plus 1 month"
    ExpiresByType image/svg+xml                         "access plus 1 month"
    ExpiresByType image/webp                            "access plus 1 month"
    ExpiresByType video/mp4                             "access plus 1 month"
    ExpiresByType video/ogg                             "access plus 1 month"
    ExpiresByType video/webm                            "access plus 1 month"


  # Web fonts

    # Embedded OpenType (EOT)
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
    ExpiresByType font/eot                              "access plus 1 month"

    # OpenType
    ExpiresByType font/opentype                         "access plus 1 month"

    # TrueType
    ExpiresByType application/x-font-ttf                "access plus 1 month"

    # Web Open Font Format (WOFF) 1.0
    ExpiresByType application/font-woff                 "access plus 1 month"
    ExpiresByType application/x-font-woff               "access plus 1 month"
    ExpiresByType font/woff                             "access plus 1 month"

    # Web Open Font Format (WOFF) 2.0
    ExpiresByType application/font-woff2                "access plus 1 month"


  # Other

    ExpiresByType text/x-cross-domain-policy            "access plus 1 week"

</IfModule>


<IfModule mod_rewrite.c>
    RewriteEngine On

    ### Internal redirects

        RewriteCond %{HTTP_HOST} ^ersroadmap.org$
        RewriteRule ^(.*)$ https://www.ersnet.org/publications/european-respiratory-roadmap [L,R=301]

        RewriteCond %{HTTP_HOST} ^www.ersroadmap.org$
        RewriteRule ^(.*)$ https://www.ersnet.org/publications/european-respiratory-roadmap [L,R=301]

        # A
        Redirect 301 /airquality https://www.ersnet.org/publications/air-quality-and-health
        Redirect 301 /adult https://www.ersnet.org/professional-development/hermes/adult/ers-hermes-examination-in-adult-respiratory-medicine
        # C
        Redirect 301 /calendar https://www.ersnet.org/congress-and-events/events-calendar
        Redirect 301 /clinicaltrainingfellowship https://www.ersnet.org/professional-development/fellowships/clinical-training-fellowship
        Redirect 301 /ctf https://www.ersnet.org/professional-development/fellowships/clinical-training-fellowship
        Redirect 301 /congresses/research-seminars.html https://www.ersnet.org/research/research-seminars
        Redirect 301 /contact https://www.ersnet.org/the-society/who-we-are/contact
        Redirect 301 /courses https://www.ersnet.org/professional-development/courses
        Redirect 301 /congress-and-events/past-international-congresses https://www.ersnet.org/congress-and-events/ers-international-congress
        Redirect 301 /congress-and-events/ers-2018 https://www.ersnet.org/congress-and-events/ers-international-congress
        Redirect 301 /CPD https://www.ersnet.org/professional-development/cpd
        Redirect 301 /cpd https://www.ersnet.org/professional-development/cpd
        Redirect 301 /covid19 https://www.ersnet.org/the-society/news/novel-coronavirus-outbreak--update-and-information-for-healthcare-professionals

        # E
        Redirect 301 /ebus https://www.ersnet.org/professional-development/endobronchial-ultrasound-certified-training-programme
        Redirect 301 /ebus1 https://www.ersnet.org/professional-development/courses/ebus-training-programme-part-1---heidelberg--february-2020
        Redirect 301 /educationgrant https://www.ersnet.org/professional-development/grants-and-sponsorships/medical-education-grant
        Redirect 301 /eu https://www.ersnet.org/advocacy/eu-affairs
        Redirect 301 /exams https://www.ersnet.org/professional-development/hermes
        # F
        Redirect 301 /fellowships http://www.ersnet.org/professional-development/fellowships
        Redirect 301 /funding http://www.ersnet.org/professional-development/grants-and-sponsorships
        Redirect 301 /fundings http://www.ersnet.org/professional-development/grants-and-sponsorships
        # G 
        Redirect 301 /goldmedals https://www.ersnet.org/the-society/who-we-are/awards
        # J
        Redirect 301 /join-ers https://my.ersnet.org
        # L
        Redirect 301 /leadersblog https://www.ersnet.org/the-society/news/respiratory-matters
        Redirect 301 /lsc https://www.ersnet.org/congress-and-events/ers-lung-science-conference
        # M
        Redirect 301 /membership https://www.ersnet.org/the-society/membership
        # O
        Redirect 301 /options-fees-entitlements.html https://www.ersnet.org/the-society/membership
        # P
        Redirect 301 /paediatric https://www.ersnet.org/professional-development/hermes/paediatric/ers-hermes-examination-in-paediatric-respiratory-medicine

        # Redirect 301 /privacy https://ers.box.com/v/privacy-policy
        Redirect 301 /plainpackaging https://www.ersnet.org/advocacy/eu-affairs/plain-packaging-protects-our-youth-support-the-campaign
        Redirect 301 /presidentialsummits https://www.ersnet.org/congress-and-events/ers-presidential-summits/a-public-health-approach-to-respiratory-health
        Redirect 301 /pd https://www.ersnet.org/#professional-development
        Redirect 301 /professional-development/fellowships/marie-curie-post-doctoral-research-fellowships-(respire-3) https://www.ersnet.org/professional-development/fellowships/marie-curie-post-doctoral-research-fellowships-respire
        Redirect 301 /professional-development/hermes/adult/examination-committee https://www.ersnet.org/professional-development/hermes/adult/examination-committee-adult
        Redirect 301 /professional-development/hermes/paediatric/examination-committee https://www.ersnet.org/professional-development/hermes/paediatric/examination-committee-paediatric
        Redirect 301 /professional-development/fellowships/respire-3-host-application-and-web-registry https://www.ersnet.org/professional-development/fellowships/respire-host-application-and-web-registry


        # M
        # Redirect 301 /the-society/news/mobile https://www.ersnet.org/mobile
        # N
        Redirect 301 /ntmaward https://www.ersnet.org/professional-development/grants-and-sponsorships/medical-education-grant
        Redirect 301 /the-society/who-we-are/leadership/national-delegates https://www.ersnet.org/the-society/who-we-are/leadership/cers-members-and-observers
        # R
        Redirect 301 /rfmv https://www.ersnet.org/congress-and-events/ers-respiratory-failure-and-mechanical-ventilation-conference
        Redirect 301 /research-seminar https://www.ersnet.org/research/research-seminars
        Redirect 301 /resp-update https://www.ersnet.org/congress-and-events/ers-respiratory-updates
        Redirect 301 /congress-and-events/ers-resppiratory-updates https://www.ersnet.org/congress-and-events/ers-respiratory-updates
        Redirect 301 /roadmap https://www.ersnet.org/publications/european-respiratory-roadmap
        # S
        Redirect 301 /satellites https://www.ersnet.org/congress-and-events/ers-satellite
        Redirect 301 /schoolcourses https://www.ersnet.org/professional-development/courses
        Redirect 301 /SCHOOLCOURSES https://www.ersnet.org/professional-development/courses
        Redirect 301 /SCHOOL https://www.ersnet.org/professional-development/courses
        Redirect 301 /school https://www.ersnet.org/professional-development/courses
        Redirect 301 /spiro https://www.ersnet.org/professional-development/spirometry-training-programme
        Redirect 301 /sleep https://www.ersnet.org/professional-development/respiratory-sleep-certified-training-programme
        # T
        Redirect 301 /the-society/news/ers-clinical-research-collaboration-‘tbnet’-wins-2018-memento-award-for-neglected-diseases https://www.ersnet.org/the-society/news/ers-clinical-research-collaboration-tbnet-wins-2018-memento-award-for-neglected-diseases
        Redirect 301 /the-society/news/apply-for-the-erj%E2%80%99s-early-career-editorial-team-mentoring-programme https://www.ersnet.org/the-society/news/apply-for-the-erj-early-career-editorial-team-mentoring-programme
        Redirect 301 /the-society/news/apply-for-the-erj’s-early-career-editorial-team-mentoring-programme https://www.ersnet.org/the-society/news/apply-for-the-erj-early-career-editorial-team-mentoring-programme
        Redirect 301 /the-society/news/ers-satellites-home https://www.ersnet.org/congress-and-events/ers-satellite
        Redirect 301 /the-society/news/sleep-and-breathing-conference-11-13-april-2019-marseille-register-now-home https://sleepandbreathing.org/
        Redirect 301 /tus https://www.ersnet.org/professional-development/thoracic-ultrasound-training-programme
        Redirect 301 /the-society/news/ers-respiratory-updates-2019-join-us-online-or-in-person-for-the-latest-clinical-updates-home https://www.ersnet.org/congress-and-events/ers-respiratory-updates
        Redirect 301 /the-society/news/ers-satellites-2020-copd-asthma-lung-cancer-and-infection-join-us-online-for-free-on-20-21-february-home https://www.ersnet.org/congress-and-events/ers-satellite

    ### External redirects
        RewriteCond %{HTTP_HOST} ^whitebook.ersnet.org$ [NC]
        RewriteRule (.*) https://erswhitebook.org/$1 [R=301,L]
        RewriteCond %{HTTP_HOST} ^www.lungfunction.org/?$ [NC]
        RewriteRule ^$ http://www.ers-education.org/lungfunction [R=301,L]
        RewriteCond %{HTTP_HOST} ^lungfunction.org/?$ [NC]
        RewriteRule ^$ http://www.ers-education.org/lungfunction [R=301,L]
        RewriteCond %{HTTP_HOST} ^www.spirxpert.com/?$ [NC]
        RewriteRule ^$ http://spirxpert.ers-education.org [R=301,L]
        RewriteCond %{HTTP_HOST} ^spirxpert.com/?$ [NC]
        RewriteRule ^$ http://spirxpert.ers-education.org [R=301,L]
        # A
        Redirect 301 /about-us/healthy-lungs-for-life.html   http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4097-first-world-spirometry-day-announced.html    http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4124-world-spirometry-day-14-october-2010.html    http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4125-message-from-the-european-lung-foundation-coordinator-of-world-spirometry-day.html   http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4132-cristiano-ronaldo-in-campaign-year-of-the-lung-and-world-spirometry-day-.html    http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4186-world-spirometry-day-nearly-final-tally.html http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4899-download-the-world-spirometry-day-toolkits-available-in-8-languages.html http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4949-grant-hlfl.html  http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4955-healthy-lungs-for-life-brussels-19-21-january-2015.html  http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/4968-healthy-lungs-for-life-takes-over-the-european-parliament-.html  http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/5004-promoting-clean-air-in-kyrgyzstan-healthy-lungs-for-life.html    http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/5145-healthy-lungs-for-life-at-the-athens-marathon.html   http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        Redirect 301 /about-us/healthy-lungs-for-life/item/5157-healthy-lungs-for-life-in-the-european-parliament.html   http://www.europeanlung.org/en/projects-and-research/projects/healthy-lungs-for-life/home/
        # B
        Redirect 301 /bylaws https://ers.app.box.com/s/pw91v38pt7vp0w141gkqg4tpv3r4calp
        # C
        Redirect 301 /case-demo http://www.ersnet.org/learning_resources_player/cases/AJ10.htm
        Redirect 301 /certificates http://datacheck.ersnet.org/~ersnet/mycme_vie12/
        Redirect 301 /communication https://ers.basecamphq.com/
        Redirect 301 /congress-and-events/ers-international-congress https://erscongress.org/
        Redirect 301 /congress-and-events/milan-2017 http://erscongress.org
        Redirect 301 /the-society/news/ers-international-congress-2019-for-an-early-bird-registration-home http://erscongress.org
        # E
        Redirect 301 /elearning http://www.ers-education.org/pages/default.aspx
        Redirect 301 /erj-podcast http://www.erj.ersjournals.com/content/37/1/E1/suppl/DC1
        Redirect 301 /erj-press http://erj.ersjournals.com/site/misc/presspack.xhtml
        Redirect 301 /ersdocs http://ersdocs.ersnet.org/ersdocs
        Redirect 301 /erspublicationsapp http://tinyurl.com/ERSpublicationsapp
        Redirect 301 /ersliveplus http://live.erscongress.org
        # F
        Redirect 301 /fellowship-methodology https://www.ersnet.org/professional-development/fellowships/fellowships-on-guideline-methodology
        # H
        Redirect 301 /handbook http://books.ersjournals.com/about#handbooks
        # I
        Redirect 301 /images/03_ERS_Banner_Vote_Now.gif https://www.ersnet.org/images/stories/weekly/03_ERS_Banner_Vote_Now.gif
        Redirect 301 /isee-ers https://ers.box.com/s/lab57dxgqqzmbbzjhempf5oiob8s795b
        # O
        Redirect 301 /ondemand http://ondemand.erscongress.org/
        # S
        Redirect 301 /spiroguidelines https://ers.box.com/s/ah1g4gf2kuppzj29b43ls7i1yhiw76my
        Redirect 301 /spirometrycourses http://hermes.ersnet.org/activities/2012-03-15-09-52-59/upcoming-courses-spirometry.html
        Redirect 301 /sleephandbook http://books.ersjournals.com/about#handbooks

        # T 
        Redirect 301 /terms-and-conditions https://ers.box.com/v/terms-and-conditions
        # Redirect 301 /terms-and-conditions-hermes https://ers.box.com/v/hermes-terms-and-conditions
        Redirect 301 /the-society/news/register-for-free-to-attend-ers-satellites-on-severe-asthma https://www.ersnet.org/congress-and-events/ers-satellite
        # Redirect 301 /the-society/news/world-no-tobacco-day-2019--get-involved- https://www.ersnet.org/the-society/news/world-no-tobacco-day-2019--get-involved-
        Redirect 301 /the-society/news/ers-international-congress-2019-madrid-register-now-to-join-us-in-person-or-online-home https://erscongress.org/
        Redirect 301 /the-society/news/send-us-your-topics-suggestions-for-the-sleep-and-breathing-conference-2021-home https://sleepandbreathing.org/articles/programme-2021

        #T
        Redirect 301 /virtual-school https://www.ersnet.org/professional-development/courses/virtual-school-in-adult-and-paediatric-respiratory-medicine
        
        # Number
        Redirect 301 /10PrinciplesforLungHealth https://ers.box.com/s/zj0x90cz9cwutldzlxbnoglzonmmnrbk



# ----------------------------------------------------------------------
# | Image and file server redirection to node.js server                |
# ----------------------------------------------------------------------

    # Proxying requests to node.js server 
    RewriteRule ^assets/(.*)$ http://localhost:4040/$1 [P]

    # Rewriting all server footer images to new one
    RewriteCond %{REQUEST_URI} ^/images/footer_(.*)$
    RewriteRule ^(.*)images/footer_(.*)$ https://www.ersnet.org/images/footer/footer_$2 [L,R=301]

    # 
    RewriteCond %{HTTP_HOST} ^taskforces.ersnet.org$
    RewriteRule ^(.*) https://www.ersnet.org/research/task-forces$1 [R=301,L]

    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} !^old.ersnet.org$
    RewriteCond %{HTTP_HOST} !^staging.ersnet.org$
    RewriteCond %{HTTP_HOST} !^k4.ersnet.org$
    RewriteCond %{HTTP_HOST} !^abstract.ersnet.org$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # wrong domain to use www.
    RewriteCond %{HTTP_HOST} ^ersnet.org$
    RewriteRule (.*) https://www.ersnet.org/$1 [L,R=301]     
    
    # Now, rewrite to use www.
    RewriteCond %{HTTP_HOST} ^new.ersnet.org$
    RewriteRule (.*) https://www.ersnet.org/$1 [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>