/*------------------------------------------------------------------
  [Splash screen]
*/
.ers-splash-screen{
	background-color: @body-background;

	.ers-wrapper{
		padding-top: 0;

		.ers-content{
			margin: 0;

			a{
				color: @body-color;
				text-decoration: underline;

				&:hover{
					color: @light-color;
				}
			}
		}

		.input-group-addon{
			padding: 0;
		}
	}
}